html {
    font-size: $baseFontSize;

    @include tablets {
        // font-size: $baseFontSize + 2px;
    }
    @include phones {
        // font-size: $baseFontSize + 2px;
    }
}

html,
body {
    height: 100%;
}

body {
    font-family: "Alegreya Sans";
    color: $gray;
    line-height: 1.42;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    // height: 100%; // жесткая высота для one page scrol
    overflow: hidden;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
}

//tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    width: 156px;
    height: 60px;
    padding: 20px 41px;
    color: $black;
    font-weight: bold;
    background: $yellow;
    border-radius: 100px;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    &:hover {
        background: $hoveryellow;
    }
}
