.section {
    height: 100vh;
    min-height: 652px;
    color: $gray;
    position: relative;
}

.section__title {
    font-size: 48px;
    font-weight: bold;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    @include phones {
        font-size: 41px;
    }
}
